# -- Secrets --
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=db

# -- Ports --
POSTGRES_PORT=5432
KAFKA_PORT=29092
REDIS_PORT=6379
MAIL_SMTP_PORT=1025
MAIL_WEB_PORT=8025

# -- Hosts --
KAFKA_HOST=localhost
REDIS_HOST=localhost
MAIL_HOST=localhost
POSTGRES_HOST=localhost


